mixin input(id, name, type, placeholder)
  .form-group
    label(class="col-sm-2 control-label")= name
    .col-sm-10
      input.form-control(id=id, type=type, placeholder=placeholder)

mixin textarea(id, name, rows, placeholder)
  .form-group
    label(class="col-sm-2 control-label")= name
    .col-sm-10
      textarea.form-control(id=id, rows=rows, placeholder=placeholder)

mixin buttons(btns)
  .form-group
    .col-sm-10(class="col-sm-offset-2")
      for btn in btns
        button.btn(type=btn.type, class=btn.class, id=btn.id)= btn.text

mixin checkbox(id, text)
  .form-group
    .col-sm-10(class="col-sm-offset-2")
      .checkbox
        label
          input(id=id, type="checkbox")
          | #{text}

mixin select(id, name, options)
  .form-group
    label(class="col-sm-2 control-label")= name
    .col-sm-10
      select.form-control(id=id)
        for opt in options
          option= opt

mixin multipleselect(id, name, options)
  .form-group
    label(class="col-sm-2 control-label")= name
    .col-sm-10
      select.form-control(id=id, multiple)
        for opt in options
          option= opt
